.myCanvas {
    outline: lightgray 1px solid;
    border-radius: 15px;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    height: 250px;
    padding: 1%;
    margin: 0;
}

.controlsContainers {
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    padding: 1%;
    margin: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills .nav-link.active {
    background-color: lightgray !important;
    color: black !important;
}

.card {
    margin-left: 2px !important;
    margin-right: 2px !important;
    margin-top: 1px;
    margin-bottom: 1px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #D7B1D7;
    background-color: #D7B1D7;
  }