#canvasHR{
    outline: lightgray 1px solid;
    border-radius: 15px;
    justify-content:center;
    vertical-align: top;
    width: 100%;
    height: 250px;
    padding: 1%;
}

#canvasContainerHR{
    padding: 0;
}

#canvasFTMS{
    outline: lightgray 1px solid;
    border-radius: 15px;
    justify-content: center;
    vertical-align: top;
    width: 100%;
    height: 250px;
    padding: 1%;
}

#controlsContainerFTMS{
    padding: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills .nav-link.active {
    background-color: lightgray!important;
    color:black!important;
}

