#canvasHR{
    outline: grey 1px solid;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 1%;
}

#canvasFTMS{
    outline: grey 1px solid;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.noPadding {
    padding: 0;
    margin: 0;
 }
